@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome to the project on hosting web application through Azure Web App Service</h1>
    <h2 class="display-4">The Application is created on Visual Studio 2022 Community Edition</h2>
    <p> To know more about Microsoft Azure Fundamentals  <a href="https://learn.microsoft.com/en-us/credentials/certifications/resources/study-guides/az-900"> click the link here </a>.</p>
</div>
